// Specific CSS for your home-page

#circle-container{
  height: 80vh;
}

.circle{
  min-width: 366px;
  min-height: 366px;
  width: 40vw;
  display: table;
  border-radius: 50%;
  background: linear-gradient(285deg, rgba(236,90,90,1) 0%, rgba(237,108,108,1) 24%, rgba(255,173,173,1) 100%);
}

.circle:before{
	content:" ";
	float:left;
	height:0;
	width:1px;
	margin:100% 0 0;	
}