<%= link_to "##{project.title.downcase.gsub(" ", "_")}", data: {toggle: "modal"}, class: "card-link" do %>
  <div class="card border-0 mb-5 mr-4 rounded-0">
    <%= image_tag(project.thumbnail, size: "250x150", class: "card-image")%>
    <p class="d-none"><%= project.skill %></p>
  </div>
<% end %>