<% if current_page?(new_contact_path)%>
  <div class="left-side m-5">
    <%= link_to projects_path do %>
      <p class="m-4"><i class="fas fa-arrow-left fa-sm arrow mr-2"></i> Projects</p>
    <% end %> 
  </div>
  <div class="right-side m-5">
    <%= link_to root_path do %>
      <p class="m-4">Home <i class="fas fa-arrow-right fa-sm arrow ml-2"></i></p>
    <% end %> 
  </div>
<% end %>