<ul class="nav flex-column w-25">
  <li class="nav-item">
    <%= link_to root_path do %>
      <%= image_tag 'logo', class: "logo" %>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to 'Projects', projects_path, class: "nav-link"%>
  </li>
  <li class="nav-item">
    <%= link_to 'Contacts', contacts_contact_me_path, class: "nav-link"%>
  </li>
</ul>