<% if current_page?(root_path) %>
  <div class="left-side">
    <h1>Taisei</h1>
    <p>Full Stack Developer</p>
  </div>
  <div class="right-side">
    <%= link_to projects_path do %>
      <p>Projects <i class="fas fa-arrow-right"></i></p>
    <% end %>  
  </div>
  <% end %>