<% if current_page?(root_path) %>
  <div class="left-side mt-5 ml-5">
    <h1>Taisei</h1>
    <p>Full Stack Developer</p>
  </div>
  <div class="right-side m-5">
    <%= link_to projects_path do %>
      <p class="m-4">Projects <i class="fas fa-arrow-right fa-sm arrow ml-2"></i></p>
    <% end %>  
  </div>
<% end %>