<div class="skill-set">
  <% @skills.each do |skill| %>
    <% if skill == "Search" %>
      <i class="fas fa-search"></i>
    <% else %>
      <p class="btn btn-warning"><%= skill %></p>
    <% end %>
  <% end %>
</div>