.skill-set{
  .btn{
    transition-duration: 0.2s;
    &:hover{
      color: $red;
    }
    &:focus{
      box-shadow:none;
    }
  }

  .btn-danger{
    &:hover{
      color: white;
      background-color: #e94a4a;
    }
    &:focus{
      box-shadow:none;
      background-color: $red;
      border-color: $red;
    }
  }
}

.submit-button{
  &:focus{
    border: 1px solid $red;
    box-shadow: 0 0 0 0.2rem rgb(238, 203, 203);
    outline: 0;
    border-radius: 2px;
  }
  &:focus{
    box-shadow:none;
  }
}


.button-link{
  font-size: 0.7em;
  transition-duration: 0.2s;
  &:hover{
    color: white;
  }
  &:focus{
    box-shadow:none;
  }
}

.card-buttonholder{
  position: absolute;
  bottom: 0;
  right: 0;
  border: 1px solid #ED6C6C;
  left: 0;
  width: 40%;
  margin: 0 auto;
  transition-duration: 0.2s;
  &:hover{
    background-color: $red;
  }
  &:focus{
    box-shadow:none;
  }
}