.skill-set{
  .btn{
    transition-duration: 0.2s;
    padding-right: 24px;
    padding-left: 24px;
    margin-right: 24px;
    z-index: 1;
    &:hover{
      color: $red;
    }
    &:focus{
      box-shadow:none;
    }
  }

  .btn-danger{
    &:hover{
      color: white;
      background-color: #e94a4a;
    }
    &:focus{
      box-shadow:none;
      background-color: $red;
      border-color: $red;
    }
  }
}

.submit-button{
  &:focus{
    border: 1px solid $red;
    box-shadow: 0 0 0 0.2rem rgb(238, 203, 203);
    outline: 0;
    border-radius: 2px;
  }
  &:focus{
    box-shadow:none;
  }
}


.button-link{
  font-size: 0.7em;
  transition-duration: 0.2s;
  &:hover{
    color: white;
  }
  &:focus{
    box-shadow:none;
  }
}

.card-buttonholder{
  position: absolute;
  bottom: 0;
  right: 0;
  border: 1px solid #ED6C6C;
  left: 0;
  width: 40%;
  margin: 0 auto;
  transition-duration: 0.2s;
  &:hover{
    background-color: $red;
  }
  &:focus{
    box-shadow:none;
  }
}

@media only screen and (max-width: 1200px){
  .card-buttonholder{
    width:43%;
    font-size: 0.1em;
  }

  .button-link{
    padding-top: 1%;
    padding-bottom: 1%;
  }
}

@media only screen and (max-width: 925px){
  .skill-set{
    .btn{
    font-size: 1em;      
    margin-right: 16px;
    padding-right: 10px;
    padding-left: 10px;
    }
  }

  .button-link{
    padding: 0 0 10px 0;
    font-size: 10px;
    margin: 0;
  }

  .card-buttonholder{
    height:23%;
  }
}

@media only screen and (max-width: 768px){
  .card-buttonholder{
    width: 50%;
  }
}
@media only screen and (max-width: 400px){
  .skill-set{
    .btn{
    font-size: 0.7em;      
    margin: 0;
    padding-right: 10px;
    padding-left: 10px;
    }
  }

  .button-link{
    display: none;
    // padding: 0 0 10px 0;
    // font-size: 1em;
    // margin: 0;
  }

  .card-buttonholder{
    display: none;
    // height:23%;
  }
}