.card-holder{
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0 auto;
  width: 75%;
}

.card-holder::after{
  content: "";
  flex: auto;
}

.card{
  -webkit-box-shadow: 7px 7px 22px -8px rgba(158,158,158,0.20);
  -moz-box-shadow: 7px 7px 22px -8px rgba(158,158,158,0.20);
  box-shadow: 7px 7px 22px -8px rgba(158,158,158,0.20);
  transition-duration: 1s;
  margin-right: 24px;
  margin-bottom: 48px;
}

.card-image{
  transition-duration: 0.3s;
  height: 103%;
  width: 250px;
}

.card-title, .card-description, .card-catch-phrase{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.card-title{
  font-size: 1.3em;
  color: $red;
}

.card-catch-phrase{
  margin-top: 8px;
}

.card-description{
  font-size: 0.8em;
  color: black;
  width: 100%;
}


@media only screen and (max-width: 1200px){

  .card-holder{
    margin: 0 170px;
  }

  .card{
    width: 200px;
  }
}
@media only screen and (max-width: 900px){
  .card{
    width: 170px;
  }

  .card-title{
    font-size: 0.8em;
  }
  
  .card-catch-phrase{
    margin-top: 4px;
    font-size: 0.5em;
  }
}
@media only screen and (max-width: 767px){
  .card{
    width: 150px;
  }

  .card-holder{
    margin: 0 auto;
  }
}
@media only screen and (max-width: 400px){

  .card-holder{
    width: 100%;
  }

  .card{
    width: 130px;
    height: auto;
    margin-left: 31px;
    margin-right: 0;
    margin-bottom: 30px;
  }
  
  // .card-description{
  //   display: none;
  //   color: black;
  // }
}