.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #7D7D7D;
}

.carousel-control-prev-icon {
  background-image: url('chevron-left-solid.svg');
}

.carousel-control-next-icon {
  background-image: url('chevron-right-solid.svg');
}

.carousel-control-next, .carousel-control-prev{
  width: 6%;
}

@media only screen and (max-width: 991px){
  .carousel-inner{
    img{
      height:200px;
    }
  }
  
}