.simple_form{
  width: 55%;
}

#new_contact{
  margin: 0 auto;
}

.form-control{
  border: 1px solid $red;
  border-radius: 0;
  color: #A0A0A0;
  margin-bottom: 7%;
  background-color: white !important;
  background-image: none !important;
  &:focus{
    outline: none;
    box-shadow: 0 0 0 0.2rem rgb(238, 203, 203);
    border-color: $red;
    background-image: none;
  }
}

#contact_message{
  height: 150px;
}

@media only screen and (max-width: 400px){

  #new_contact{
    margin: 0 auto;
    width: 80%;
  }

}