.arrow{
  border: 1px solid #ED6C6C;
  padding: 10px;
  border-radius: 50%;
  background-color: $red;
  color: white;
  &::before{
    opacity: 80%;
  }
}

.social_icons{
  a{
    i::before{
      transition-duration: 0.2s;
    }
    &:hover{
      text-decoration: none;
      i::before{
        opacity: 1;
      }
    }
  }    
}

.icons{
  margin-right: 48px;
}

#facebook{
  padding-left: 13px;
  padding-right: 13px;
}

@media only screen and (max-width: 992px){
  
}
@media only screen and (max-width: 768px){

}
@media only screen and (max-width: 600px){

}
@media only screen and (max-width: 400px){
  #contact-container{
    margin-top: 120px;
  }

  .icons{
    margin-right: 16px;
  }
}