.right-side, .left-side{
  font-size: 1.3em;
  a, p{
  color: black;
  transition-duration: 1s;    
  &:hover{
    text-decoration: none;
    color: $red;
    .arrow::before{
      opacity: 1;
    }
  }
  i::before{
    transition-duration: 1s;
  }
  &:hover{
    text-decoration: none;
    i::before{
      opacity: 1;
    }
  }
}     
}

#about{
  font-size: 1.0em;
  position: absolute;
  right: 0;     
  }