.right-side, .left-side, .about-side{
  font-size: 1.3em;
  a, p{
  color: black;
  transition-duration: 1s;    
  &:hover{
    text-decoration: none;
    color: $red;
    .arrow::before{
      opacity: 1;
    }
  }
  i::before{
    transition-duration: 1s;
  }
  &:hover{
    text-decoration: none;
    i::before{
      opacity: 1;
    }
  }
}     
}

.left-side{
  position: absolute;
  bottom: -50px;
  left: 0;
  margin: 0 0 24px 48px;
  h1{
    letter-spacing: 0.06em; 
  }

  h1, p{
    color: black;
  }
}


.right-side{
  position: absolute;
  bottom: -50px;
  right: 0;
  margin: 0 48px 24px 0;
}

#about{
  font-size: 1.0em;
  position: absolute;
  right: 0;   
  margin: 48px;  
  }


@media only screen and (max-width: 992px){
  
}
@media only screen and (max-width: 768px){

}
@media only screen and (max-width: 600px){

}
@media only screen and (max-width: 400px){
  #about{
    margin: 24px 0 0 0;
    display: none;
  }

  .navbar{
    margin: 0 0 0 24px;
  }

  #project-link-repsonsive{
    top: 0;
    right: 0;
    margin: 0 16px 24px 0;
  }

  .right-side, .left-side{
    margin: 0;
    font-size: 1.0em
  }
}