.navbar{
  position: absolute;
  margin: 24px 0 0 48px;
}

.navbar-list{
  list-style: none;
}

.logo{
  width: 90px;
  height: 90px;
}

.not-logo-link{
  position: relative;
  top: 55px;
  margin: 0 0 24px 24px;
}

.responsive-link{
  display: none;
}

.nav-link{
  color: black;
  transition-duration: 0.2s;
  padding: 0; //m-3
  &:hover{
    color: $red;
    text-decoration: none;
  }
}

.active-link{
  color: $red;
  &:hover{
    color: $red;
    text-decoration: none;
  }
}

.page-link{
  position: relative;
  top: 70px;
  background-color: none;
  border: 0;
}

@media only screen and (max-width: 992px){
  .not-logo-link {
    position: relative;
    top: 55px;
    margin: 0 0 24px 0;
  }

  .not-logo-link{
    margin-left: 24px;
  }
}
@media only screen and (max-width: 768px){

}
@media only screen and (max-width: 576px){
  .logo{
    display: none;
  }

}
@media only screen and (max-width: 400px){

  .navbar{
    margin: 0;
    z-index: 1;
  }

  .responsive-link{
    display: block;
  }
}