.nav{
  position: absolute;
  left: 0;
}

.logo{
  width: 82px;
  height: 82px;
}

.nav-link{
  color: black;
  transition-duration: 0.2s;
  padding: 0; //m-3
  &:hover{
    color: $red;
    text-decoration: none;
  }
}

.active-link{
  color: $red;
  &:hover{
    color: $red;
    text-decoration: none;
  }
}

.page-link{
  position: relative;
  top: 70px;
  background-color: none;
  border: 0;
}